#no-mobile{
    position: absolute;
    z-index: 99;
    height: var(--screen-height);
    top:0;
    background-color: yellow;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 32px;
}

@media screen and (max-width: 645px)
{
    #no-mobile {
        display: none;
        
    }
}